storage/xsd/arukereso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Identifier" type="xs:unsignedByte" />
              <xs:element name="Manufacturer" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Sku" type="xs:string" />
              <xs:element name="Product_url" type="xs:string" />
              <xs:element name="Price" type="xs:string" />
              <xs:element name="Net_price" type="xs:string" />
              <xs:element name="Image_url" type="xs:string" />
              <xs:element name="Category" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Delivery_Time" type="xs:string" />
              <xs:element name="Delivery_Cost" type="xs:string" />
              <xs:element name="EAN_code" type="xs:unsignedLong" />
              <xs:element name="Attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Attribute">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attribute_name" type="xs:string" />
                          <xs:element name="Attribute_value" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>