storage/xsd/unas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="productFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="product">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="number" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category1" type="xs:string" />
                    <xs:element minOccurs="0" name="category2" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="price" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="image" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="stock" type="xs:string" />
              <xs:element name="status" type="xs:string" />
              <xs:element name="customFields">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="property">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>